* {
    font-family: "Comic Sans MS";
}
html {
    background-color: rgb(85, 73, 109);
}
body {
    background-color: white;
    border: 5px solid black;
    padding: 40px;
    width: 400px;
    margin: 100px auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 600px) {
  body {
    font-size: 16px;   /* slightly smaller text */
    width: 90%;        /* let the box stretch with the screen */
    margin: 40px auto; /* adjust spacing */
  }
}

#countLabel {
    display: block;
    text-align: center;
    font-size: 10em;
    margin-bottom:20px;
}

#btnContainer {
    margin-top:20px;
    text-align: center;
}

.buttons {
    padding: 10px 20px;
    font-size: 1.5em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;
}

#decreaseBtn {
    background-color: hsl(0, 100%, 80%);
}

#decreaseBtn:hover {
    background-color: hsl(0, 100%, 60%);
}

#resetBtn {
    background-color: hsl(0, 0%, 80%);
}

#resetBtn:hover {
    background-color: hsl(0, 0%, 60%);
}

#increaseBtn {
    background-color: hsl(120, 100%, 80%);
}

#increaseBtn:hover {
    background-color: hsl(120, 100%, 60%);
}